.card {
    background-color: var(--dark);
    border: 0;
    margin-bottom: 25px;
    transition: .5s;
}

.cardImage {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    transition: .5s;
}

.cardImage:hover {
    cursor: pointer;
}

.cardElement {
    text-align: right;
    background-color: var(--white);
    border-radius: 0 0 10px 10px;
}


/* کامپوننت غذای یک دسته */

#foodsComponent,
#singleFoodComponent {
    margin-top: 100px;
    position: relative;
}

#foodsComponentH1 h1 {
    color: var(--dark);
    text-align: center;
    font-size: 70px;
    line-height: 80px;
    background-color: var(--white);
    border-radius: 15px;
    display: inline-block;
    margin-left: 30%;
    width: 40%;
    padding: 0 20px;
    position: relative;
    margin-bottom: 70px;
}